.rowContainer {
    display: flex;
    padding: 5px 0;
}

.row {
    flex: 1 1 auto;
}

.cancelSelectionButton {
    height: 24px;
    width: 24px;
}

.buttonContainer {
    height: 24px;
    width: 24px;
}
